/*계속 사용되는 코드는 변수화하는게 좋다*/
:root{
    --basic:#FFDFB9;
    --couple-color:#A4193D;
    --horizontal-space: 15px;
    --division-border:1px solid rgba(0,0,0,0.3);
    --tonedown-color:rgba(0,0,0,0.5);
}
