#chat-screen {
  height: 150vh;
}

#chat-screen .alt-header,
#chat-screen .status-bar {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  z-index: 1;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: none;
  }
  1% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
/* .chat-background{
    margin-top: 65px;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
} */

.main-chat {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.7s linear;
}
.chat__timestamp {
  color: white;
  padding: 8px 8px;
  border-radius: 14px;
  background-color: var(--couple-color);
  font-size: 13px;
  font-weight: 200px;
  margin-bottom: 20px;
}
.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 15px;
}
.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-right: 10px;
}
.message__author,
.message__time {
  opacity: 0.7;
  font-size: 14px;
}
.message__time {
  margin: 0px 5px;
}
.message__author {
  display: block;
  padding-bottom: 5px;
}
.message__receive {
  display: block;
  padding: 10px 13px;
  background-color: white;
  border-radius: 15px;
  border-top-left-radius: 0px;
  /* margin: 5px 10px; */
}
.message__info {
  display: flex;
  align-items: flex-end;
}
.message-row--own {
  justify-content: flex-end;
}
.message-row--own .message__receive {
  background-color: var(--couple-color);
  color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 0px;
}
/* .message-row--own .message__receive{
    order: 1; flex children에게만 적용된다
}
.message-row--own .message__time{
    order: 0;
} 하지만 이렇게 하면 코드가 길어지니까 아래 방식 적용*/
.message-row--own .message__info {
  flex-direction: row-reverse;
}
.message__receive > img {
  width: 100px;
  height: 100px;
}
.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  align-items: center;
  box-sizing: border-box;
  transition: all .3s ease-in-out;
}
.reply .reply__column:first-child {
  width: 6%;
}
.reply .reply__column:last-child {
  width: 94%;
  position: relative;
}
.reply input {
  font-size: 16px;
  padding: 7px;
  padding-left: 12px;
  width: 100%;
  border: var(--division-border);
  border-radius: 18px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}
.reply__column:last-child > i {
  position: absolute;
  top: 9px;
  right: 40px;
}
.reply__column:last-child button {
  position: absolute;
  top: 4px;
  right: 4px;
  background-color: var(--basic);
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.reply__column button:focus,
.reply__column button:active {
  outline: none;
}
.reply__column:first-child > i {
  opacity: 0.7;
  position: absolute;
  left: 9px;
  top: 14px;
  font-size: 23px;
}
.reply .reply__column:first-child,
.reply .fa-smile-wink{
  transition: opacity .3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink{
  opacity: 0;
}
.reply:focus-within input {
  width: 93vw;
  transform: translateX(-6%) translateY(-80px);
}
.reply:focus-within button{
    transform: translateY(-80px);
    animation: fadeIn .3s ease-in-out;
}

.reply:focus-within{
    transform: translateY(80px);
}