.recommended-friends{
    padding: 15px 0px;
    border-top: var(--division-border);
}
.recommended-friends__title{
    font-size: 15px;
    color:var(--tonedown-color);
}
.open-chat{
    padding: 20px 0px;
    border-top: var(--division-border);
}
.open-chat__header{
    display: flex;
    justify-content: space-between;
    color: rgba(0,0,0,0.75);
}
.open-chat__header span{
    color: var(--tonedown-color);
    margin-bottom: 10px;
}
.open-post__status>img {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
}
.open-post__photo>img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
.open-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    border-bottom: var(--division-border);
}
.open-post__title{
    font-size: 20px;
    font-weight: 600;
}
.open-post__status{
    display: flex;
    /* align-items: center; */
} 난 이거하면 오히려 이상해지는데 뭘까

.open-post__hashtag,
.open-post__status-members,
.open-post__status-active {
    font-size: 15px;
    color: var(--tonedown-color);
}
.open-post__hashtag{
    margin: 10px 0px;
}
.open-post__status-active{
    color: palevioletred;
}
.open-post__status .divider{
    width: 1px;
    height: 15px;
    background-color: var(--tonedown-color);
    margin: 0px 4px;
}
.open-post__photo{
    position: relative;
}
.members-badge {
    background-color: var(--tonedown-color);
    color: white;
    font-size: 12px;
    padding: 4px 7px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 5px;
    bottom: 5px;
}
