#friends-display-link {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 5px 0px;
    font-size: 18px;
    color: rgba(0,0,0,0.8);
}

#friends-display-link svg {
    width: 25px;
    height: 25px;
    margin-right: 7px;
    color: rgba(0,0,0,0.5);
}

.friends-screen{
    padding: 5px var(--horizontal-space);
}
.friends-screen__channel{
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid rgba(0,0,0,0.4);
}
.friends-screen__channel-header{
    display: flex;
    justify-content: space-between;
    color: rgba(0,0,0,0.5);
}
.user-component__column.user-component__column:last-child{
    color: rgba(0,0,0,0.5);
}