#friends-display-link {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 5px 0px;
    font-size: 18px;
    color: rgba(0,0,0,0.8);
}

#friends-display-link svg {
    width: 25px;
    height: 25px;
    margin-right: 7px;
    color: var(--tonedown-color);
}

.friends-screen{
    padding: 5px var(--horizontal-space);
}
.friends-screen__channel{
    margin-top: 15px;
    padding-top: 10px;
    border-top: var(--division-border);
}
.friends-screen__channel-header{
    display: flex;
    justify-content: space-between;
    color: var(--tonedown-color);
}
.user-component__column.user-component__column:last-child{
    color: var(--tonedown-color);
}

@keyframes hideSplashScreen{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        visibility: hidden;
    }
}

#splash-screen{
    background-color: var(--basic);
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    animation: hideSplashScreen 0.5s ease-in-out forwards;
    animation-delay: 1.5s;
}
.music{
    border: 1px solid var(--couple-color);
    padding: 5px 8px;
    border-radius: 15px;
}