.settings__setting{
    padding: 15px 0px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.settings__setting svg{
    margin-right: 10px;
    width: 23px;
    height: 23px;
    color: black;
}
.settings__setting-column:last-child{
    opacity: 0.7;
}