svg{
    width: 30px;
    height: 30px;
    color: white;
}
.nav {
    background-color: var(--couple-color);
    color: white;
    padding: 13px 50px;
    box-sizing: border-box;
    /*box-sizing:border-box 는 padding 을 줘도 box 사이즈를 유지하라는 마법명령*/
    position: fixed;
    bottom: 0;
    width: 100%;
}

.nav__ul {
    display: flex;
    justify-content: space-between;
    
}

.nav__link{
    color: #2e363e;
    position: relative;
}
@keyframes notificationAnimation {
    0%{
        transform: none;
    }
    50%{
        transform: translateY(-4px) rotateY(90deg);
    }
    100%{
        transform: none;
    }
}
.nav__notification {
    position: absolute;
    left: 15px;
    top: -15px;
    animation: notificationAnimation 1s ease-in-out infinite;
}
.nav__notidot{
    background-color: pink;
    font-size: 13px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 27px;
    top: -10px;
}
@keyframes appearBtn{
    from{
        opacity: 0;
    }
    to{
        transform: none;
        opacity: 1;
    }
}
.nav__li{
    transform: translateY(50px);
    opacity: 0;
    animation: appearBtn 1s ease-in-out forwards;
}
.nav__li:nth-child(2){
    animation-delay: 0.15s;
}
.nav__li:nth-child(3){
    animation-delay: 0.3s;
}
.nav__li:last-child{
    animation-delay: 0.45s;
}