.screen-header{
    font-family: 'Saira Semi Condensed', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 10px 10px 10px;
    background-color: var(--couple-color);
    color: white;
}
.screen-header__title{
    font-size: 30px;
    font-weight: 500;
}
.screen-header__icons{
    position: relative;
}
.screen-header__icons span{
    margin-left: 10px;
}
.screen-header__dot{
    background-color: tomato;
    font-size: 13px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 0px;
}
@keyframes iconsMove{
    from{
        transform: none;
    }
    to{
        transform: rotateZ(360deg);
    }   
}

.screen-header__icons>span:last-child>a>svg:hover{
    animation: iconsMove 2s ease-in-out infinite;
}