.screen-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0px 10px 0px;
}
.screen-header__title{
    font-size: 22px;
}
.screen-header__icons span{
    margin-left: 10px;
}