.user-component{
    padding-top: 15px;
    justify-content: space-between;
}

.user-component,
.user-component__column:first-child{
    display: flex;
    align-items: center;
}

.user-component__avatar{
    width: 70px;
    height: 70px;
    border-radius: 27px;
    margin-right:15px;
}
.user-component__title{
    font-size: 20px;
}
.user-component__subtitle{
    margin-top: 5px;
    color: rgba(0,0,0,0.6);
    font-size: 15px;
}
.user-component__avatar--xl{
    width: 80px;
    height: 80px;
    border-radius: 30px;
}
.user-component__avatar--sm{
    width: 55px;
    height: 55px;
    border-radius: 25px;
}
.user-component__title--noBold{
    font-weight: 300;
}
/* .user-component__column{
    font-weight: 300;
} */