.user-component{
    padding: 10px 0px;
    justify-content: space-between;
}

.user-component,
.user-component__column:first-child{
    display: flex;
    align-items: center;
}

.user-component__avatar{
    width: 70px;
    height: 70px;
    border-radius: 27px;
    margin-right:15px;
}
.user-component__title{
    font-size: 20px;
}
.user-component__subtitle{
    margin-top: 5px;
    color: var(--tonedown-color);
    font-size: 15px;
}
.user-component__avatar--xl{
    width: 80px;
    height: 80px;
    border-radius: 30px;
}
.user-component__avatar--sm{
    width: 55px;
    height: 55px;
    border-radius: 23px;
}
.user-component__title--noBold{
    font-weight: 300;
}

.user-component__time{
    display: block;
    margin-bottom: 8px;
}
.user-component__column:last-child{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.user-component__column>svg{
    width: 25px;
    height: 25px;
}