@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
    font-family: 'Bree Serif', serif;
    width: 450px;
    height: 900px;
    border: 4px solid #00C6AD;
}
main{
    padding: 30px;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    width: 100%;
    height: 50px;
    font-size: 30px;
}
.blank{
    width: 17px;
}
.play-now{
    width: 100%;
    height: 150px;
    margin: 35px 0px;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}
.play-now .image{
    background-color: #FFBD11;
    width: 135px;
    height: 135px;
    border: 2px solid #000;
    border-radius: 20px;
    z-index: -1;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.play-now .image svg{
    width: 60px;
    height: 60px;
    color: #fff;
    z-index: 22;
}
.play-info{
    width: 200px;
    height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.play-info-title{
    font-size: 40px;
    margin-bottom: 25px;
}
.play-info-artist{
    font-size: 20px;
    margin-bottom: 10px;
}
.play-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    margin-bottom: 50px;
}
.play-button{
    padding: 20px 50px;
    border: 2px solid #000;
    border-radius: 20px;
    box-shadow: 0px 4px 0px #000;
}

.play-heart, .play-plus{
    padding: 17px;
    border-radius: 50%;
    border: 2px solid #000;
    box-shadow: 0px 4px 0px #000;
}
.play-plus{
    padding: 17px 18px;
}
.song-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.song-each{
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.song-list .song-each:first-child .song-thumb{
    background-color: #F85A2A;
}
.song-list .song-each:nth-child(2) .song-thumb{
    background-color: #FF89BB;
}
.song-list .song-each:nth-child(3) .song-thumb{
    background-color: #1847E5;
}
.song-list .song-each:last-child .song-thumb{
    background-color: #00C6AD;
}

.song-thumb{
    width: 60px;
    height: 60px;
    border-radius: 13px;
    border: 2px solid #000;
    margin-right: 15px;
}
.song-info-title{
    font-size: 23px;
    margin-bottom: 10px;
}