@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --darker:#234E70;
    --brighter:#FCF6F5;
}
body{
    font-family: 'Bree Serif', serif;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    z-index: -1;
}
.screen{
    width: 300px;
    height: 650px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 30px;
    background-color: #fff;
    margin: 50px;
    box-shadow: 2px 3px 10px 0px rgba(200, 200, 200, 0.8);
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    opacity: .7;
    margin: 5px 0px;
}
.artist-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.artist-img img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.artist-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
}
.artist-info-name{
    font-size: 26px;
    margin-bottom: 5px;
}
.artist-info-genre{
    opacity: 0.6;
}
.artist-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.artist-button{
    all: unset;
    border: 0;
    outline: 0;
    color: var(--brighter);
    background-color: var(--darker);
    padding: 8px 15px;
    border-radius: 15px;
    margin-right: 20px;
    box-shadow:1px 3px 5px 0px rgba(26, 32, 73, 0.68);
}
.artist-follower{
    all: unset;
    border: 0;
    outline: 0;
    color: var(--darker);
    background-color: var(--brighter);
    padding: 8px 15px;
    border-radius: 15px;
    box-shadow: 1px 3px 5px 0px rgba(200, 200, 200, 0.5);
}
.artist-songs{
    display: flex;
    flex-direction: column;
    position: relative;
}
.artist-song{
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 1px 3px 5px 0px rgba(200, 200, 200, 0.5);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.artist-song-img img{
    width: 35px;
    height: 35px;
    border-radius: 10px;
    margin-right: 10px;
}
.artist-song-info{
    width: 180px;
}
.artist-song-info-artist{
    opacity: 0.7;
    font-size: 13px;
}
.song-player{
    width: 100%;
    height: 55px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--darker);
    padding: 5px 20px;
    color: var(--brighter);
    box-shadow:1px 3px 5px 0px rgba(26, 32, 73, 0.68);
}
.song-player-info{
    display: flex;
    flex-direction: column;
}
.song-player-info-artist{
    font-size: 13px;
    opacity: 0.6;
}
.song-player-buttons{
    width: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.song-player-button-back,
.song-player-button-forward{
    font-size: 12px;
}
.song-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    
}
.song-img img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    box-shadow:1px 4px 10px 0px rgba(26, 32, 73, 0.8);
}
.song-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.song-info-title{
    font-size: 25px;
    margin-bottom: 10px;
}
.song-info-artist{
    font-size: 14px;
    opacity: 0.5;
}
.song-play-time{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
}
.song-play-time-times{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.song-play-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 30px 10px;
}
.song-play-button-rotate,
.song-play-button-shuffle{
    opacity: .5;
}
.song-play-button-play{
    color: var(--brighter);
    font-size: 20px;
    position: relative;
    z-index: 1;
}
.song-play-button-play-circle{
    position: absolute;
    top: -15px;
    left: -18px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--darker);
    z-index: -1;
    box-shadow:1px 3px 5px 0px rgba(26, 32, 73, 0.68);
}
.slider-container{
    width: 100%;
    position: relative;
}
.total-line{
    width: 100%;
    height: 5px;
    background-color: #c9c9c9;
    border-radius: 2px;
}
.line{
    position: absolute;
    top: 0px;
    width: 50%;
    height: 5px;
    background-color: var(--darker);
    border-radius: 2px;
}
.dot{
    position: absolute;
    top:-3px;
    left: 123px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: var(--darker);

}